.form-field {
  display: block;

  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.login-btn {
  width: 100%;
  margin-top: 10px;
}

.sex-select {
  width: 248px;
  margin: 30px 0;
}

// .form-hint {
//   font: 12px Roboto, "Helvetica Neue", sans-serif;
//   color: #f44336;
// }

.log-reg-switcher {
  display: block;

  width: 230px;

  margin: 20px auto 0 auto;

  font: 12px Roboto, "Helvetica Neue", sans-serif;

  text-align: center;
}
