<div
  [hidden]="!lkActive"
  class="lk-container"
>

  <ng-container *ngIf="user">
    <!-- <div class="userpic-container">
      <img src="./assets/images/user_pic.png" alt="" srcset="">
    </div> -->

    <p class="user-name">
      {{user.login}}
    </p>

    <!-- <ng-container *ngFor="let property of user.info">
      <p class="user-info">
        {{property.name}}: {{property.value}}
      </p>
    </ng-container> -->

    <ng-container *ngFor="let preference of user.preferences">
      <p class="criteria-label">
        {{preference.name}}
      </p>
      <mat-slider
        thumbLabel
        [(ngModel)]="preference.value"
        min="0"
        max="10"
        tickInterval="1"
        class="mat-slider"
      ></mat-slider>
    </ng-container>

    <div class="btn-container">
      <!-- <button mat-button color="accent" class="minor-btn">ОТМЕНА</button> -->
      <button mat-stroked-button class="main-btn" (click)="saveLk()">Построить маршрут</button>
    </div>
  </ng-container>

  <!-- <ng-container *ngIf="!user">
    <span>PLEASE LOG IN</span>

    <mat-spinner></mat-spinner>
  </ng-container> -->
  <trp-auth-form *ngIf="!user" (loggedIn)="onLoggedIn($event)"></trp-auth-form>

</div>
