.lk-container {
  position: absolute;
  box-sizing: border-box;

  width: 100%;

  padding: 26px;

  background: white;
  opacity: 0.95;

  overflow-y: auto;
  z-index: 99;
}

.hidden {
  visibility: hidden;
}

.userpic-container {
  margin: 0 auto;
  text-align: center;
}

.user-name,
.user-info {
  font-family: 'Century Gothic';
}

.user-name {
  margin-top: 0;

  text-align: center;

  font-weight: bold;
  font-size: 18pt;

  color: #333333;
}

.mat-slider {
  width: 100%;
}

.criteria-label {
  padding: 10px 0 0 8px;
  margin: 0;
}

.btn-container {
  margin-top: 20px;
}

.main-btn {
  width: 100%;
}

.trip-origin {
  margin-left: 2px;
}

@media screen and (min-width: 768px) {
  .lk-container {
    min-width: 300px;
    max-height: calc(100% - 80px);

    width: auto;
    height: auto;

    // top: 60px;
    top: 70px;
    right: 10px;

    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
